<div class='row'>
  <div class='col-xs-12'>
    <%= form_for( [@user, @expense],  html:{class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label "Name"%>
      </div>
      <div class="col-sm-8">
        <%= f.text_field :name, class: "form-control", placeholder: "Name of expense", autofocus: true, :max_length=>"200" %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label "Date"%>
      </div>
      <div class="col-sm-8">
        <%= f.datetime_select :date, ampm: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label "Amount"%>
      </div>
      <div class="col-sm-8">
        <%=f.number_field :amount, value: number_to_currency(f.object.amount.to_f, delimiter: '', unit: ''), step: 0.01%>
      </div>
    </div>
  
    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :description%>
      </div>
  
      <div class="col-sm-8">
        <%= f.text_area :description, class: "form-control", placeholder: "Description of expense", autofocus: true , size: "60x12" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
         <%= link_to "Cancel", user_expenses_path(@user), class: "btn btn-danger "%>
         <%= f.submit "Submit" , class: "btn"%>
      </div>
    </div>
  <% end %>
  </div>
</div>

