<div class='well'>
	<p> A listing of your all your logged expenses.</p>
</div>

<%if @allowed%>
  <div style="text-align: center;"><h1><span align="center" class="label label-default"> Your Expenses </span></h1></div>
<% else %>
  <div style="text-align: center;"><h1><span align="center" class="label label-default"><%= "#{@user.email} Expenses"%></span></h1></div>
<% end %>
<% if !@expenses.blank?%>
  <table class= "table table-striped table-hover">
    <thead>
      <tr>
        <th> Name </th>
        <th> Date </th>
        <th> Amount </th>
        <th>  </th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |e| %>
       <tr class="expense-row">
          <td class="expense-name">
            <b> <%= e.name  %></b>
          </td>

          <td class="expense-date">
            <b> <%= e.date.strftime("%a %b %d, %Y %l:%M:%S %P") %></b>
          </td>

          <td class="expense-amount">
            <b>$ <%= e.amount %></b>
          </td>
          <td style="vertical-align:top>
          <% if @allowed %>
            <div class="expense-actions">
              <%= link_to "Details", user_expense_path(@user, e), class: "btn btn-sm btn-info"%>
              <%= link_to "Edit", edit_user_expense_path(@user, e), class: "btn btn-sm btn-primary"%>
              <%= link_to "Delete", user_expense_path(current_user, e), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "Are your sure you want to delete this expense?"}%>
            </div>
          <% end %>
          </td>
        </tr>
      <% end %>
    <tbody>
  </table>
<% else %>
  <h4 class="text-center"> You have not added any expenses yet! </h4>
<% end %>


